.noscrollbar {
    overflow: hidden !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.noscrollbar::-webkit-scrollbar {
    display: none;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.gone {
    display: none;
}

.top_to_bottom {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
}

.bottom_to_top {
    display: flex !important;
    align-items: flex-end !important;
}

.left_to_right {
    display: flex !important;
    justify-content: flex-start !important;
}

.right_to_left {
    display: flex !important;
    justify-content: flex-end !important;
}

.center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.vcenter {
    display: flex !important;
    align-items: center !important;
}

.hcenter {
    display: flex !important;
    justify-content: center !important;
}

.fillxy {
    width: 100dvw !important;
    height: 100dvh !important;
}

.fillx {
    width: 100% !important;
    height: fit-content;
}

.filly {
    height: 100% !important;
    width: fit-content;
}

.scrollxy {
    overflow-x: scroll !important;
    overflow-y: scroll !important;
}

.scrollx {
    overflow-x: scroll !important;
    overflow-y: hidden !important;
}

.scrolly {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.layout-linear {
    display: inline-flex !important;
    position: relative !important;
    flex-direction: column!important;
}

.layout-absolute {
    display: flex !important;
    position: absolute !important;
}

.layout-grid {
    display: grid !important;
}
